body {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
	background: #222222;
	color: #ebebeb;
	margin:0 auto; 
}

a {
	color: #80C0FF;
}

.centred {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation-name: fade-in;
	animation-duration: 1s;
}

@keyframes fade-in {
	0% {opacity: 0; transform: translate(-50%, -40%);}
	50% {opacity: 0; transform: translate(-50%, -47%);}
	100% {opacity: 1; transform: translate(-50%, -50%);}
}